textarea {
    width: 100%;
    border-radius: 10px;
    color: #0000FF;
    font-family: Noto Sans, Arial;
    font-size: 1em;
    padding: 0.3em;
}

.keyboard {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

fieldset {
    border: 1px solid #ddd !important;
    padding: 10px;
    border-radius: 5px;
    background-color: #eeeeee;
    padding-left: 10px !important;
}

legend {
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    width: 60px;
    padding: 5px;
    background-color: #ffffff;
}

fieldset.amadal {
    width: 450px;
}

fieldset.kabyle {
    width: 170px;
    float: left;
}

fieldset.rifain {
    width: 280px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
}

li button {
    float: left;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);
    box-shadow: inset 0 0 2px #fff;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    width: 38px;
    height: 38px;
    overflow: hidden;
    font-size: 15px;
    color: #CC0033;
    margin: 3px 2px;
    padding: 5px;
    text-align: center;
}